/* ApiData.css */

.api-data-container {
    text-align: center;
    padding: 20px;
    margin: 20px;
    
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-top: 20px;
  }
  
  .user-table th,
  .user-table td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .user-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .user-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  